version: "3"
services:
  server:
    build:
      context: .
      dockerfile: ./docker/server/Dockerfile
    image: ota-server
    command: python3 -m http.server 8080 -d /
    container_name: ota-server
    ports:
      - "8080:8080"
    logging:
      driver: none
  client:
    build:
      context: .
      dockerfile: ./docker/client/Dockerfile
    image: ota-client
    command: >
      bash -c
      "mkdir -p /ota-client/certs
      && cp -av /ota-client/tests/keys/root.pem /ota-client/certs/1.root.pem
      && cp -av /ota-client/tests/keys/interm.pem /ota-client/certs/1.interm.pem
      && python3 -m pytest tests"
    container_name: ota-client
    volumes:
      - ./pyproject.toml:/ota-client/pyproject.toml:ro
      - ./.flake8:/ota-client/.flake8:ro
      - ./app:/ota-client/app:ro
      - ./ota_proxy:/ota-client/ota_proxy:ro
      - ./tests:/ota-client/tests:ro
      - ./aws-iot-log-server:/ota-client/aws-iot-log-server:ro
    depends_on:
      - server

