version: "3"
services:
  server:
    build:
      context: .
      dockerfile: ./docker/server/Dockerfile
    image: ota-server
    command: python3 -m http.server 8080 -d /
    container_name: ota-server
    ports:
      - 8080:8080
    logging:
      driver: none
  client:
    build:
      context: .
      dockerfile: ./docker/client/Dockerfile
    image: ota-client
    command: |
      bash -c "cp -av /ota-client-origin/* /ota-client && python3 -m pytest tests2 --cov=app2 --log-cli-level=INFO"
    container_name: ota-client
    volumes:
      - .:/ota-client-origin:ro
    depends_on:
      - server

