[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools>=61", "setuptools_scm[toml]>=6.4"]

[project]
name = "otaclient"
readme = "README.md"
license = { text = "LICENSE.md" }
requires-python = ">=3.8"
classifiers = [
  "License :: OSI Approved :: Apache Software License",
  "Operating System :: Unix",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
]
dynamic = ["dependencies", "optional-dependencies", "version"]
[project.urls]
Source = "https://github.com/tier4/ota-client"

[tool.setuptools.dynamic]
dependencies = { file = ["otaclient/requirements.txt"] }

[tool.setuptools.dynamic.optional-dependencies]
test = { file = ["tests/requirements.txt"] }

[tool.setuptools.packages.find]
include = ["otaclient*"]
namespaces = false

[tool.setuptools_scm]
write_to = "otaclient/_version.py"
version_scheme = "post-release"
local_scheme = "no-local-version"

[tool.black]
line-length = 88
target-version = ['py38']
extend-exclude = '''(
  ^.*(_pb2.pyi?|_pb2_grpc.pyi?)$
)'''

[tool.pytest.ini_options]
asyncio_mode = "auto"
log_auto_indent = true
log_format = "%(asctime)s %(levelname)s %(filename)s %(funcName)s,%(lineno)d %(message)s"
log_cli = true
log_cli_level = "INFO"
pythonpath = ["otaclient"]
testpaths = ["./tests"]

[tool.coverage.run]
branch = false
relative_files = true
source = ["otaclient"]

[tool.coverage.report]
omit = ["**/*_pb2.py*", "**/*_pb2_grpc.py*"]
exclude_also = [
  "def __repr__",
  "if __name__ == .__main__.:",
  "if TYPE_CHECKING:",
  "class .*\\bProtocol\\):",
  "@(abc\\.)?abstractmethod",
]
skip_empty = true
skip_covered = true

[tool.pyright]
exclude = ["**/__pycache__"]
ignore = ["**/*_pb2.py*", "**/*_pb2_grpc.py*"]
pythonVersion = "3.8"

[tool.isort]
profile = "black"
