[build-system]
build-backend = "hatchling.build"
requires = ["hatchling>=1.20.0", "hatch-vcs"]

[project]
name = "otaclient"
readme = "README.md"
license = { text = "LICENSE.md" }
requires-python = ">=3.8"
classifiers = [
  "License :: OSI Approved :: Apache Software License",
  "Operating System :: Unix",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
]
dependencies = [
  "pyOpenSSL==24.1.0",
  "cryptography>=42.0.4, <43.0.0",
  "grpcio>=1.53.2, <1.54.0",
  "protobuf>=4.21.12, <4.22.0",
  "PyYAML>=3.12",
  "requests>=2.31.0, <2.32.0",
  "urllib3>=1.26.8, <2.0.0",
  "uvicorn[standard]==0.20.0",
  "aiohttp>=3.9.5, <3.10.0",
  "aiofiles==22.1.0",
  "zstandard==0.18.0",
  "typing_extensions>=4.6.3; python_version < '3.11'",
  "pydantic==2.7.0",
  "pydantic-settings==2.2.1",
]
dynamic = ["version"]

[project.optional-dependencies]
dev = [
  "black",
  "coverage",
  "flake8",
  "isort",
  "pytest==7.1.2",
  "pytest-asyncio==0.21.0",
  "pytest-mock==3.8.2",
  "requests-mock",
]

[project.urls]
Source = "https://github.com/tier4/ota-client"

[tool.hatch.version]
source = "vcs"

[tool.hatch.build.hooks.vcs]
version-file = "src/_otaclient_version.py"

[tool.hatch.build.targets.sdist]
exclude = ["/tools"]

[tool.hatch.build.targets.wheel]
only-include = ["src"]
sources = ["src"]

[tool.hatch.envs.dev]
type = "virtual"
features = ["dev"]

[tool.black]
line-length = 88
target-version = ['py38']
extend-exclude = '''(
  ^.*(_pb2.pyi?|_pb2_grpc.pyi?)$
)'''

[tool.isort]
profile = "black"
extend_skip_glob = ["*_pb2.py*", "_pb2_grpc.py*"]

[tool.pytest.ini_options]
asyncio_mode = "auto"
log_auto_indent = true
log_format = "%(asctime)s %(levelname)s %(filename)s %(funcName)s,%(lineno)d %(message)s"
log_cli = true
log_cli_level = "INFO"
pythonpath = ["otaclient"]
testpaths = ["./tests"]

[tool.coverage.run]
branch = false
relative_files = true
source = ["otaclient"]

[tool.coverage.report]
omit = ["**/*_pb2.py*", "**/*_pb2_grpc.py*"]
exclude_also = [
  "def __repr__",
  "if __name__ == .__main__.:",
  "if TYPE_CHECKING:",
  "class .*\\bProtocol\\):",
  "@(abc\\.)?abstractmethod",
]
skip_empty = true
skip_covered = true

[tool.pyright]
exclude = ["**/__pycache__"]
ignore = ["**/*_pb2.py*", "**/*_pb2_grpc.py*"]
pythonVersion = "3.8"
