[build-system]
requires = ["setuptools>=61.0", "setuptools_scm[toml]>=6.4.0"]
build-backend = "setuptools.build_meta"

[project]
name = "otaclient"
readme = "README.md"
requires-python = ">=3.8"
license = {text = "LICENSE.md"}
classifiers = [
  "License :: OSI Approved :: Apache Software License",
  "Operating System :: Unix",
  "Programming Language :: Python :: 3",
]
dynamic = ["dependencies", "optional-dependencies", "version"]

[project.urls]
Source = "https://github.com/tier4/ota-client"

[tool.setuptools.dynamic]
dependencies = {file = ["otaclient/requirements.txt"]}

[tool.setuptools.dynamic.optional-dependencies]
test = {file = ["tests/requirements.txt"]}

[tool.setuptools.packages.find]
include = ["otaclient*"]
namespaces = false

[tool.setuptools_scm]
write_to = "otaclient/_version.py"
version_scheme = "post-release"
local_scheme = "no-local-version"

[tool.black]
line-length = 88
target-version = ['py38']
include = '''(
  otaclient.*\.pyi?$
)'''
extend-exclude = '''(
  .*_v2_pb2.*
)'''

[tool.coverage.run]
source_pkgs = ["otaclient.app"]
branch = false

[tool.coverage.report]
omit = ["**/*_v2_pb2*", "**/__*.py"]
show_missing = true

[tool.pyright]
exclude = ["**/__pycache__"]
ignore = ["**/*_v2_pb2*"]
pythonVersion = "3.8"

[tool.pytest.ini_options]
addopts = "--cov=otaclient/app"
asyncio_mode = "auto"
log_auto_indent = true
log_format = "%(asctime)s %(levelname)s %(filename)s %(funcName)s,%(lineno)d %(message)s"
log_cli = true
log_cli_level = "INFO"
pythonpath = ["otaclient"]
testpaths = ["./tests"]