# otaclient.service

[Unit]
Description=OTA Client

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/ota/client/app/ota_client_service.py
Restart=always

[Install]
WantedBy=multi-user.target
