# otaclient.service

[Unit]
Description=OTA Client
After=network-online.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/ota/client/app/main.py
Restart=always

[Install]
WantedBy=multi-user.target
