name: Release CI

permissions:
  contents: read
  packages: read
  actions: read

on:
  release:
    types: [published]
  # allow manually triggering the build
  workflow_dispatch:

jobs:
  build_python_packages:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      OTACLIENT_VERSION: ${{ steps.set_env.outputs.OTACLIENT_VERSION }}
    steps:
      - name: checkout (release)
        if: ${{ github.event_name == 'release' }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        # NOTE: when doing release, the tag will be created
        #       at checkout, no need to fetch old tags

      - name: checkout (non-release)
        if: ${{ github.event_name != 'release' }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          # NOTE: this should be enough to let hatch-vcs determines the
          #       version from git tags.
          fetch-depth: 200
          fetch-tags: true

      - name: setup python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          # use the minimum py ver we support to generate the wheel
          python-version-file: ".python-version"

      - name: install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7
        with:
          version: "0.9.26"

      - name: build otaclient package
        env:
          # NOTE: see hatch_build_lock_deps.py for more details
          ENABLE_DEPS_LOCKED_BUILD: "yes"
        run: |
          uv build --no-managed-python --wheel

      - name: set environment variables
        id: set_env
        run: |
          uv venv -c
          uv pip --no-managed-python install hatch
          # Remove everything after '+' to clean Git metadata
          OTACLIENT_VERSION=$(uv run --locked hatch version | cut -d'+' -f1)
          echo OTACLIENT_VERSION=${OTACLIENT_VERSION} >> $GITHUB_OUTPUT

      - name: upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: artifacts-python-packages
          path: dist/*.whl

  build_squashfs_images:
    # NOTE: this dependency is only for reliability getting the otaclient version
    needs: build_python_packages
    strategy:
      fail-fast: false
      matrix:
        platform: [x86_64, arm64]
        include:
          - platform: x86_64
            base_image: ubuntu:22.04
            runs-on: ubuntu-latest
          - platform: arm64
            base_image: ubuntu:22.04
            runs-on: ubuntu-24.04-arm
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: checkout (release)
        if: ${{ github.event_name == 'release' }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        # NOTE: when doing release, the tag will be created
        #       at checkout, no need to fetch old tags

      - name: checkout (non-release)
        if: ${{ github.event_name != 'release' }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          # NOTE: this should be enough to let hatch-vcs determines the
          #       version from git tags.
          fetch-depth: 200
          fetch-tags: true

      - name: build squashfs image for ${{ matrix.platform }}
        uses: ./.github/actions/build_squashfs_image
        with:
          platform: linux/${{ matrix.platform }}
          platform_suffix: ${{ matrix.platform }}
          base_image: ${{ matrix.base_image }}
          version: ${{ needs.build_python_packages.outputs.OTACLIENT_VERSION }}
          output_squashfs: dist/otaclient-${{ matrix.platform }}-v${{ needs.build_python_packages.outputs.OTACLIENT_VERSION }}.squashfs

      - name: build patches
        uses: ./.github/actions/build_patches
        with:
          platform_suffix: ${{ matrix.platform }}
          version: ${{ needs.build_python_packages.outputs.OTACLIENT_VERSION }}
          squashfs: dist/otaclient-${{ matrix.platform }}-v${{ needs.build_python_packages.outputs.OTACLIENT_VERSION }}.squashfs
          output_dir: dist

      - name: upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: artifacts-squashfs_${{ matrix.platform }}
          path: |
            dist/*.squashfs
            dist/*.patch

  post_build:
    runs-on: ubuntu-latest
    needs: [build_python_packages, build_squashfs_images]
    permissions:
      contents: write
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: download python packages artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: artifacts-python-packages
          path: dist

      - name: download squashfs x86_64 artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: artifacts-squashfs_x86_64
          path: dist

      - name: download squashfs arm64 artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: artifacts-squashfs_arm64
          path: dist

      - name: generate manifest
        uses: ./.github/actions/generate_manifest
        with:
          dir: dist
          output_manifest: dist/manifest.json

      - name: calculate checksum
        uses: ./.github/actions/calculate_checksum
        with:
          file_patterns: "*.{whl,squashfs,patch,json}"
          directory: "dist"

      - name: upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: artifacts-manifest
          path: |
            dist/manifest.json

      - name: publish release artifacts
        if: ${{ github.event_name == 'release' }}
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          files: |
            dist/*.whl
            dist/*.squashfs
            dist/*.patch
            dist/manifest.json
            dist/*.checksum
