name: test CI

permissions:
  contents: read
  packages: read
  actions: read

on:
  pull_request:
    branches:
      - main
      - v*
    types:
      - opened
      - synchronize
      - reopened
      # NOTE(20241016): this is a workaround for PR with head
      #   updated by gen_requirements_txt workflow
      - review_requested
      - assigned
  push:
    branches:
      - main
      - v*
    paths:
      - "src/**"
      - "tests/**"
      - ".github/workflows/test.yaml"
  # allow the test CI to be manually triggerred
  workflow_dispatch:

jobs:
  pytest_directly_on_supported_os:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        test_base:
          - ubuntu-20.04
          - ubuntu-22.04
          - ubuntu-24.04
    steps:
      - name: Checkout commit
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Execute pytest with coverage trace under ota-test_base container
        run: |
          mkdir -p test_result
          docker compose -f docker/test_base/docker-compose_tests.yml run --rm tester-${{ matrix.test_base }}

  # NOTE: we only intend to test otaclient with python3.13 on
  #       ubuntu 22.04, as this is the setup for the otaclient app image build.
  pytest_with_py313_on_ubuntu_2204:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout commit
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        # sonarcloud needs full git histories
        with:
          fetch-depth: 0
      - name: Execute pytest with coverage trace under ota-py313-app container
        run: |
          mkdir -p test_result
          docker compose -f docker/test_base/docker-compose_tests_py313.yml run --rm tester-ubuntu-22.04
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
