name: on pyproject.toml change, update lock files

permissions:
  contents: read
  packages: read
  actions: read

on:
  pull_request:
    branches:
      - main
    paths:
      - 'pyproject.toml'
  # allow manual dispatch of this workflow
  workflow_dispatch:

jobs:
  gen-requirements-txt:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 1

    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          # use repo scope deploy key for the later git operations, so that the pushed commit can trigger the
          #   workflow as expected. The default action token GITHUB_TOKEN cannot trigger new workflows.
          # For more details about this restriction, please refer to:
          #   https://github.com/peter-evans/create-pull-request/issues/48 and
          #   https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs
          ssh-key: ${{ secrets.DEPLOY_KEY }}
          persist-credentials: true

      # see https://docs.astral.sh/uv/guides/integration/github/#setting-up-python for more details.
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.7.15"

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: update lock files with latest pyproject.toml
        run: |
          uv sync
          uv export --frozen --no-dev --no-editable --no-hashes --no-emit-project > requirements.lock

      - name: commit change if needed
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          if git diff --exit-code uv.lock; then
            echo "skip commit as lock files are not changed"
          else
            echo "lock files are updated, commit change ..."
            git add requirements.lock uv.lock
            git commit -m "[GHA] Update lock files on pyproject.toml changed"
            git push
          fi
